<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mster GYM</title>
    <link rel="stylesheet" href="@{css/login.css}">

</head>

<body>
    <div>
        <h2>ユーザー編集</h2>

        <form th:method="patch" th:action="@{/user/{id}(id=*{id})}" th:object="${newUser}" novalidate>
            <div>
                <label for="username">UserName:</label>
                <input type="text" th:field="*{username}">
            </div>
            <div>
                <label for="name">Name：</label>
                <input type="text" th:field="*{name}">
            </div>
            <div>
                <label for="email">E-mail：</label>
                <input type="email" th:field="*{email}">
            </div>

            <div>
                <label for="address">Address：</label>
                <input type="text" th:field="*{address}">
            </div>
            <div>
                <label for="birth">Birth：</label>
                <input type="date" th:field="*{birth}">
            </div>
            <div>
                <input type="hidden" th:field="*{password}">
                <input type="hidden" th:field="*{admin}">
                <input type="hidden" th:field="*{role}">
            </div>

            <input type="submit" value="update">
        </form>
    </div>
</body>

</html>