<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>会員専用ページ</title>
    <link rel="stylesheet" th:href="@{/css/profile.css}">
</head>

<body>
    <div id="home" class="big-bg">
        <header class="page-header wrapper">
            <h1><a th:href="@{/sec}">Master GYM</a></h1>
            <nav>
                <ul class="main-nav">
                    <li><a th:href="@{/sec/news}">News</a></li>
                    <li><a th:href="@{/logout}">Logout</a></li>
                    <li><a th:href="@{/sec/question}">Question</a></li>
                </ul>
            </nav>
        </header>
        <div class="home-content wrapper">
            <h1 class="page-title">Member information</h1>
            <table class="profile">
                <thead>
                    <th>UserID</th>
                    <th>UserName</th>
                    <th>Name</th>
                    <th>E-Mail</th>
                    <th>Address</th>
                    <th>birth</th>
                </thead>
                <tbody>
                    <tr  th:object="${user}">
                        <td th:text="${user.id}"></td>
                        <td th:text="${user.username}"></td>
                        <td th:text="${user.name}"></td>
                        <td th:text="${user.email}"></td>
                        <td th:text="${user.address}"></td>
                        <td th:text="${user.birth}"></td>
                    </tr>
                </tbody>
            </table>
                <td>
                    <button class="button">
                        <a th:href="@{/user/{id}(id=${user.id})}" class="btn btn-outline-warning">
                            <i class="fas fa-inquiryUser-edit"></i>Change</a>
                    </button>
                </td>
                <td>
                    <form th:method="delete" th:action="@{/user/{id}(id=${user.id})}">
                        <button type="submit" class="button">
                            <i class="fas fa-inquiryUser-edit"></i>Withdrawal</button>
                    </form>
                </td>
                </tr>
            
        </div>
</body>
</html>