@charset "UTF-8";
/* 共通部分
------------------------------- */
html {
    font-size: 100%;
}
body{
    font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif;
    line-height: 1.7;
    color: black;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
}
.wrapper {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 4%;
}
/* 大きな背景画像 */
.big-bg {
    background-size: cover;
    background-position: center top;
}
/* 見出し */
.page-title {
    font-size: 5rem;
    font-family: 'Philosopher', serif;
    text-transform: uppercase;
    font-weight: normal;
}
/* ボタン */
.button {
    font-size: 1.375rem;
    background: black;
    color: #fff;
    border-radius: 5px;
    padding: 18px 32px;
}
.button:hover {
    background: grey;
}
/* HEADER
------------------------------- */
.page-header {
    display: flex;
    justify-content: space-between;
    list-style: none;
    text-transform: uppercase;
}
.page-header a {
    color: black;
}
.page-header a:hover {
    color: gray;
}
.logo {
    width: 210px;
    margin-top: 14px;
}
.main-nav {
    display: flex;
    font-size: 1.7rem;
    text-transform: uppercase;
    margin-top: 34px;
    list-style: none;
}
.main-nav li {
    margin-left: 38px;
}
.main-nav a {
    color: black;
}
.main-nav a:hover {
    color: grey;
}
/* HOME
------------------------------- */
#home {
    background-image: url(../images/jogging-2343558_1280.webp);
    min-height: 100vh;
    background-size: cover;
    width: 100%;
}
#home .page-title {
    text-transform: none;
}
.home-content {
    text-align: center;
    margin-top: 10%;
}
.home-content p {
    font-size: 2.5rem;
    margin: 10px 0 42px;
}
/* NEWS
------------------------------- */
#news {
    background-image: url(../images/fitness-3448864_1280.jpg);
    height: 270px;
    margin-bottom: 40px;
}
.page-title {
    text-align: center;
    color: black;
}
#news .post {
    text-align: center;
}
/* 記事部分 */
.post {
    position: relative;
    padding-top: 4px;
    text-align: center;
    list-style: none;
    margin-bottom: 10rem;
}
.post-title {
    font-family: "Yu Mincho", "YuMincho", serif;
    font-size: 3rem;
    font-weight: normal;
    text-align: center;
}
h1 {
    color: black;
}
.p-1 ,.p-2,.p-3 {
    margin: 5em;
    font-size: 1.5em;
}
.p-4{
    text-align: center;
    font-size: 2.5rem;
}
/* 未回答があるときの設定 */
.notice {
    color: red !important;
}