<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>会員専用ページ</title>
    <link rel="stylesheet" th:href="@{css/style.css}">
</head>
<body>
    <div id="home" class="big-bg">
        <header class="page-header wrapper">
            <h1><a th:href="@{/sec}">Master GYM</a></h1>
            <nav>
                <ul class="main-nav">
                    <li><a th:href="@{/sec/news}">News</a></li>
                    <li><a th:href="@{/user/profile}">Profile</a></li>
                    <li>
                        <th:block sec:authorize="hasRole('ADMIN')">
                            <a th:href="@{/sec/question}" th:class="${list}? notice">Question</a>
                        </th:block>
                        <th:block th:unless="${#authorization.expression('hasRole(''ADMIN'')')}">
                            <a th:href="@{/sec/question}" th:class="${user_question_notice}? notice">Question</a>
                        </th:block>
                    </li>
                    <li><a th:href="@{/logout}">Logout</a></li>
                </ul>
            </nav>
        </header>
        <div class="home-content wrapper">
            <h1 class="page-title">Wellcome MasterGYM</h1>
            <p>continuity is power.</p>
            <a class="button" th:href="@{/logout}">logout</a>
        </div>
    </div>
</body>
</html>