<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>会員専用ページ</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div id="home" class="big-bg">
        <header class="page-header wrapper">
            <h1><a th:href="@{/sec}">Master GYM</a></h1>
            <nav>
                <ul class="main-nav">
                    <li><a th:href="@{/sec/news}">News</a></li>
                    <li><a th:href="@{/logout}">Logout</a></li>
                    <li><a th:href="@{/sec/question}">Question</a></li>
                </ul>
            </nav>
        </header>
        <div class="home-content wrapper">
            <h1 class="page-title">wellcome</h1>
            <table>
                <div sec:authorize="isAuthenticated()">
                    <tr>
                        <th>
                            会員情報
                        </th>
                    </tr>
                    <tr>
                        <td sec:authentication="principal.userId"></td>
                        <td sec:authentication="principal.username"></td>
                        <td sec:authentication="principal.email"></td>
                    </tr>
                </div>
            </table>
            <a class="button" th:href="@{/logout}">logout</a>
        </div>
        <div sec:authorize="hasRole('ADMIN')">
        </div>
        <div th:unless="${#authorization.expression('hasRole(''ADMIN'')')}">
        </div>
    </div>
</body>
</html>