<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Master GYM</title>
    <link rel="stylesheet" href="css/style.css">

</head>

<body>
    <div id="new" class="big-bg">
        <h1>Question&Answer</h1>
        <form th:action="@{/sec/new}" th:object="${inquiryUser}" method="post">
            <label for="inquiry">Question</label><br>
            <textarea name="form-control" rows="5" th:field="*{inquiry}"></textarea><br>

            <input type="submit" value="ask" class="btn btn-primary btn-lg">
            <input type="reset" value="cancel" class="btn btn-primary btn-lg">
            <button>
                <a th:href="@{/sec/question}">back</a>
            </button>
        </form>
    </div>
</body>

</html>