<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>マスタージム24</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">

</head>

<body>
  <div id="news" class="big-bg">
    <header class="page-header wrapper">
        <h1><a th:href="@{/sec}">Master GYM</a></h1>
        <nav>
            <ul class="main-nav">
                <li><a th:href="@{/sec/news}">News</a></li>
                <li><a th:href="@{/logout}">Logout</a></li>
                <li><a th:href="@{/sec/question}">Question</a></li>
            </ul>
        </nav>
    </header>

    <div class="wrapper">
        <h2 class="page-title">News</h2>
    </div>
</div>

<div class="news-contents wrapper">
    <article>
        <header class="post-info">
            <h2 class="post-title">最新ジム情報</h2>
        </header>
        <ul class="post">
            <li>
                <p class="p-1">営業時間が変更されました。<br>
                    AM 10:00 ~ PM 21:00
                </p>
            </li>

            <li>
                <p class="p-2">
                    MasterGYMがプロデュースしたプロテインが全国のコンビニエンスストアにて販売することが決定いたしました！
                </p>
            </li>

            <li>
                <p class="p-3">
                    桜木町駅から徒歩５分の場所に新店舗オープンいたしました！！！
                </p>
            </li>

        </ul>
        <p class="p-4">これかもあなたに最適な情報をお届けします。</p>
    </article>
</div>
</body>

</html>
