<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Master GYM</title>
    <link rel="stylesheet" th:href="@{css/home.css}">
</head>

<body>
    <div id="home" class="big-bg">
        <header class="page-header wrapper">
            <h1><a th:href="@{/}">Master GYM</a></h1>
            <nav>
                <ul class="main-nav">
                    <li><a th:href="@{/news}">News</a></li>
                    <li><a th:href="@{/sec}">Login</a></li>
                    <li><a th:href="@{/sec/question}">Question</a></li>
                </ul>
            </nav>
        </header>
        <div class="home-content wrapper">
            <h1 class="page-title">Start Now?</h1>

            <p>限界のその先になりたいあなたがいる。</p>
            <a class="button" th:href="@{/sec}">Login</a>
        </div>
        <div sec:authorize="hasRole('ADMIN')">
        </div>
        <div th:unless="${#authorization.expression('hasRole(''ADMIN'')')}">
        </div>
    </div>
</body>

</html>